<main class="main-404">
    <div>
        <img src="" alt="">
    </div>
    <div class="text-container">
        <h1>404</h1>
        <h2>Oops</h2>
        <p>Lo sentimos, la página que buscas no existe</p>
    </div>
</main>