<main class="main-admin">
    <h1>Administración</h1>
    <button id="logoutBtn" class="btn-style">Cerrar sesión<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    <div class="table-container">
      <table class="tabla-participantes">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">ID</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody id="userData"></tbody>
      </table>
    </div>

</main>