<main class="main-home">
  <picture class="img-container">
    <source srcset="/img/background_desktop.png" media="(min-width: 425px)">
    <img class="background-img" src="/img/background_mobile.png" alt="">
  </picture>

  <div class="main-content">
    <h1>SKATE PARK</h1>
    <p>Competencia nacional de skaters</p>
    <a class="button" href="/registro">Inscríbete</a>
  </div>
</main>

