<main class="main_participantes">
  <h1>Participantes</h1>
  <div class="table-container">
    <table class="tabla-participantes">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Nombre</th>
          <th scope="col">Experiencia</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody id="userData"></tbody>
  </table>

  </div>
</main>