<main class="main_perfil">
    
    <div class="container">

        <form id="profileForm">
            <div class="datos-container">
                <div class="img_container">
                    <img id="foto" src="" alt="Foto de perfil">
                </div>
                <button id="logoutBtn" class="btn-style">Cerrar sesión<i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                <div class="input-container">
                    <label>Email</label>
                    <input id="email" name="email" class="form-control" readonly />
                </div>
                <div class="input-container">
                    <label>Nombre</label>
                    <input id="nombre" name="nombre" class="form-control" required />
                </div>
                <div class="input-container">
                    <label>Contraseña</label>
                    <input id="contraseña" name="password" type="password" class="form-control" required />
                </div>
                <div class="input-container">
                    <label>Repita la contraseña</label>
                    <input id="contraseña2" type="password" class="form-control" required/>
                </div>
                <div class="input-container">
                    <label>Años de experiencia</label>
                    <input id="experiencia" name="experiencia" class="form-control" required/>
                </div>
                <div class="input-container">
                    <label>Especialidad</label>
                    <select id="especialidad" name="especialidad" class="form-control" required />
                        <option value="" disabled selected>Selecciona una especialidad</option>
                        <option class="option" value="Street">Street</option>
                        <option class="option" value="Vert">Vert</option>
                        <option class="option"value="Bowl">Bowl</option>
                        <option class="option"value="Freestyle">Freestyle</option>
                        <option class="option"value="Slalom">Slalom</option>
                        <option class="option"value="Downhill">Downhill</option>
                        <option class="option"value="Dance">Dance</option>
                        <option class="option"value="Longboard">Longboard</option>
                        <option class="option"value="Cruiser">Cruiser</option>
                        <option class="option"value="Otros">Otros</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn" id="updateBtn">Actualizar datos</button>
            <p id="errorMessage"></p>
            <button class="btn" id="deleteBtn">Eliminar cuenta</button>
        </form>
    </div>
</main>
