<main class="main_registro">
<div class="main_card">

  <!-- Formulario de ingreso -->
  <h1 class="register_title"> Registro </h1>    

  <form id="registerForm" enctype="multipart/form-data">

    <!-- Email -->
    <div>
        <input type="email" id="email" name="email" class="form-control" required autocomplete="email" placeholder="Email" oninput="this.value = this.value.toLowerCase()">
    </div>
    <!-- Nombre -->
    <div>
        <input type="text" id="nombre" name="nombre" class="form-control" required autocomplete="nombre" placeholder="Nombre"/>
    </div>
    <!-- Contraseña -->
    <div>
        <input type="password" id="contraseña" name="contraseña" class="form-control" placeholder="Contraseña"/>
    </div>
    <!-- Contraseña 2 -->
    <div>
        <input type="password" id="contraseña2" name="contraseña2" class="form-control" required placeholder="Repita la contraseña"/>
    </div>
    <!-- Años de experiencia -->
    <div>
        <input type="number" id="experiencia" name="experiencia" class="form-control" required autocomplete="experiencia" placeholder="Años de experiencia"/>
    </div>
    <!-- Especialidad -->
    <div>
        <select id="especialidad" name="especialidad" class="form-control" required />
            <option value="" disabled selected>Selecciona una especialidad</option>
            <option class="option" value="Street">Street</option>
            <option class="option" value="Vert">Vert</option>
            <option class="option" value="Bowl">Bowl</option>
            <option class="option" value="Freestyle">Freestyle</option>
            <option class="option" value="Slalom">Slalom</option>
            <option class="option" value="Downhill">Downhill</option>
            <option class="option" value="Dance">Dance</option>
            <option class="option" value="Longboard">Longboard</option>
            <option class="option" value="Cruiser">Cruiser</option>
            <option class="option" value="Otro">Otros</option>
        </select>
    </div>
    <!-- Foto de perfil -->
    <p class="foto-title">Foto de perfil</p>
    <div>
      {{!-- <label class="custom-file-label" for="foto">Seleccionar archivo</label> --}}
      <input type="file" id="foto" name="foto" class="form-control foto_input" required />
    </div>
    
    <!-- Boton de ingreso -->
    <button type="submit" class="btn btn-style">Registrarme</button>
    <p id="errorMessage"></p>
  </form>


</div>
</main>
