/* improtar estilos css de components */
@import url(./variables.css);
@import url(./components/admin.css);
@import url(./components/home.css);
@import url(./components/login.css);
@import url(./components/register.css);
@import url(./components/perfil.css);
@import url(./components/navbar.css);
@import url(./components/404.css);
@import url(./components/participantes.css);
@import url(./components/loginAdmin.css);

/*reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-pr);
}

html {
  color: white;
}

body {
  background-color: rgb(33, 33, 33);
  color: white;
  min-height: 100dvh;
  display: grid;
}

#errorMessage {
  color: var(--clr-pr);
  text-align: center;
}

button {
  font-weight: 600;
}
